<div class="sidebar">

    <div class="logo text-center py-3">

    <h4 class="fw-bold mb-1">

        <img src="{{ url_for('static', filename='icons/cableqims.png') }}" class="img-fluid" alt="CableQIMS Logo" style="max-height: 80px;">

        <a href="{{url_for('main.home')}}" style="text-decoration: none;" class="text-light">CableQIMS</a>


    </h4>

    {% if current_user.is_authenticated %}

    <div class="small fw-bold text-primary">

        {{ current_user.company.company_name }}

    </div>

    <small class="text-muted">

        {{ current_user.role }}

    </small>

    {% else %}

    <small class="text-secondary">

        Quality Information Management

    </small>

    {% endif %}

</div>
    <ul class="nav flex-column mt-4">

        <li class="nav-title">MAIN</li>

        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'main.home' %}active{% endif %}"
               href="{{ url_for('main.home') }}">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-title mt-3">MASTER DATA</li>
    
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint in ['main.customers','main.new_customer','main.edit_customer'] %}active{% endif %}"
               href="{{ url_for('main.customers') }}">
                <i class="bi bi-people"></i>
                Customers
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.endpoint in ['main.cable_types','main.new_cable_type','main.edit_cable_type'] %}active{% endif %}"
                href="{{ url_for('main.cable_types') }}">
                <i class="bi bi-lightning"></i>
                Cable Types
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.endpoint in ['main.production_lines','main.new_production_line','main.edit_production_line'] %}active{% endif %}"
                href="{{ url_for('main.production_lines') }}">
                <i class="bi bi-building-gear"></i>
                Production Lines
            </a>
        </li>
        

        <li class="nav-title mt-3">OPERATIONS</li>


        <li class="nav-item">

            <a href="{{ url_for('main.quality_specifications') }}"
                class="nav-link">

                <i class="bi bi-list-nested"></i>

                Quality Specifications

            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'main.batches' %}active{% endif %}"
               href="{{ url_for('main.batches') }}">
                <i class="bi bi-box-seam"></i>
                Cable Batches
            </a>
        </li>


       

        <li class="nav-item">
            <a class="nav-link {% if request.endpoint in ['main.inspections', 'main.new_inspection'] %}active{% endif %}"
                href="{{ url_for('main.inspections') }}">
                <i class="bi bi-clipboard-check"></i>
                Inspections
            </a>
        </li>

        

        <li class="nav-item">
            <a class="nav-link {% if request.endpoint in ['main.quality_metrics', 'main.new_quality_metric'] %}active{% endif %}"
                href="{{ url_for('main.quality_metrics') }}">
                <i class="bi bi-graph-up-arrow"></i>
                Quality Metrics
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.endpoint in ['main.deviations', 'main.raise_deviation'] %}active{% endif %}"
                href="{{ url_for('main.deviations') }}">
                <i class="bi bi-exclamation-triangle"></i>
                Deviations
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.endpoint in ['main.capa', 'main.new_capa'] %}active{% endif %}"
                href="{{ url_for('main.capa') }}">
                <i class="bi bi-tools"></i>
              CAPA
            </a>
        </li>

        <li class="nav-title mt-3">REPORTS</li>

        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'main.reports' %}active{% endif %}"
            href="{{ url_for('main.reports') }}">
                <i class="bi bi-bar-chart"></i>
                Reports
            </a>
        </li>

        {% if current_user.role == "Company Administrator" %}

         <li class="nav-title mt-3">ACCOUNTS</li>

        <li class="nav-item">

            <a class="nav-link
            {% if request.endpoint in [
                'main.users',
                'main.new_user',
                'main.edit_user'
            ] %}
            active
            {% endif %}"

            href="{{ url_for('main.users') }}">

                <i class="bi bi-person-badge"></i>

                Users

            </a>

        </li>

        {% endif %}

        {% if current_user.role=="System Administrator" %}

        <li class="nav-title mt-3">REGISTERED COMPANY</li>

        <li class="nav-item">

            <a class="nav-link"

            href="{{ url_for('main.companies') }}">

                <i class="bi bi-buildings"></i>

                Companies

            </a>

        </li>

        {% endif %}

        <li class="nav-title mt-3">SYSTEM</li>

        {% if current_user.role == "System Administrator" %}

        <li class="nav-item">

            <a class="nav-link {% if request.endpoint == 'main.audit_trail' %}active{% endif %}"
            href="{{ url_for('main.audit_trail') }}">

                <i class="bi bi-journal-text"></i>

                Audit Trail

            </a>

        </li>

        {% endif %}

       <li class="nav-item">
            <a class="nav-link"
            href="{{ url_for('main.settings') }}">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
            </a>
        </li>



    </ul>

</div>
