{% extends "base.html" %}

{% block title %}CAPA{% endblock %}

{% block content %}

<div class="card shadow">

<div class="card-header d-flex justify-content-between align-items-center">

<h3>

Corrective & Preventive Action

</h3>



</div>

<div class="card-body">

<form method="POST">

{{ form.hidden_tag() }}

<table class="table table-bordered">

<tr>

<th width="30%">

Deviation Number

</th>

<td>

{{ deviation.deviation_number }}

</td>

</tr>

<tr>

<th>

Inspection

</th>

<td>

{{ deviation.inspection.inspection_number }}

</td>

</tr>

<tr>

<th>

Customer

</th>

<td>
    {{ deviation.inspection.batch.customer.company_name }}<br>
    <small class="text-muted">
        {{ deviation.inspection.batch.customer.address }}
    </small>
</td>

</tr>

<tr>

<th>

Cable Name

</th>

<td class="text-wrap" style="max-width:20px; white-space:normal;">
{{ deviation.inspection.batch.cable_type.pair_count }} × {{ deviation.inspection.batch.cable_type.conductor_size }} - <small class="text-muted">{{deviation.inspection.batch.cable_type.name }}</small>

</td>

</tr>

<tr>

<th>

Description

</th>

<td>

{{ deviation.description }} Measured or seen as 
{{ deviation.quality_metric.measured_value }}
        {% if deviation.quality_metric.specification.unit %}
            {{ deviation.quality_metric.specification.unit }}
        {% endif %}. Where the requirement is 
        
        {% if deviation.quality_metric.specification.requirement %}

            {{ deviation.quality_metric.specification.requirement }}

        {% elif deviation.quality_metric.specification.validation_type == "any" %}

            Accept Any Value

        {% elif deviation.quality_metric.specification.validation_type == "minimum" %}

            {{ deviation.quality_metric.specification.minimum_value }} (Min)

        {% elif deviation.quality_metric.specification.validation_type == "maximum" %}

            {{ deviation.quality_metric.specification.maximum_value }} (Max)

        {% elif deviation.quality_metric.specification.validation_type == "range" %}

            {{ deviation.quality_metric.specification.minimum_value }}
            -
            {{ deviation.quality_metric.specification.maximum_value }}

        {% elif deviation.quality_metric.specification.validation_type == "text" %}

            {{ deviation.quality_metric.specification.expected_result }}

        {% else %}

            -

        {% endif %},
        
        which triggered a non-conformance block.

</td>
 
</tr>

<tr>

<th>

Root Cause by Inspector

</th>

<td>

{{ deviation.root_cause or "-" }}

</td>
 
</tr>

</table>

{% if current_user.role in ["System Administrator", "Company Administrator", "Quality Manager"] %}    

<div class="mb-3">

{{ form.corrective_action.label }}

{{ form.corrective_action(class="form-control", rows=4) }}

</div>

{% endif %} 

<div class="mb-3">

{{ form.preventive_action.label }}

{{ form.preventive_action(class="form-control", rows=4) }}

</div>

<div class="mb-3">

{{ form.assigned_to.label }}

{{ form.assigned_to(class="form-control") }}

</div>

<div class="row">

<div class="col">

{{ form.due_date.label }}

{{ form.due_date(class="form-control") }}

</div>

<div class="col">

{{ form.completion_date.label }}

{{ form.completion_date(class="form-control") }}

</div>

</div>

<br>

<div class="row">

<div class="col">

{{ form.status.label }}

{{ form.status(class="form-select") }}

</div>

<div class="col">

{{ form.effectiveness.label }}

{{ form.effectiveness(class="form-select") }}

</div>

</div>

<br>

<div class="d-flex justify-content-between">


<a href="{{ url_for('main.view_deviation', deviation_id=deviation.id) }}"
class="btn btn-secondary">

Cancel

</a>

{{ form.submit(class="btn btn-primary") }}

</div>

</form>

</div>

</div>

{% endblock %}
