{% extends "base.html" %}

{% block title %}Inspection Details{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>

        <h2 class="fw-bold">

            Inspection Details

        </h2>

        <p class="text-muted">

            {{ inspection.inspection_number }}

        </p>

    </div>

    <div>

        <a href="{{ url_for('main.inspections') }}"
           class="btn btn-outline-secondary">

            <i class="bi bi-arrow-left"></i>

            Back

        </a>

    </div>

</div>


<div class="row">

    <div class="col-lg-4">

        <div class="card shadow-sm border-0 mb-4">

            <div class="card-header fw-bold">

                Inspection Information

            </div>

            <div class="card-body">

                <p>

                    <strong>Inspection No.</strong><br>

                    {{ inspection.inspection_number }}

                </p>

                <p>

                    <strong>Batch</strong><br>

                    {{ inspection.batch.batch_number }}

                </p>


                <p>
                    <strong>Cable Name</strong><br>

                    {{ inspection.batch.cable_type.pair_count }} × {{ inspection.batch.cable_type.conductor_size }} - <small class="text-muted"> {{inspection.batch.cable_type.name }}</small>


                </p>

                <p>

                    <strong>Customer</strong><br>

                    {{ inspection.batch.customer.company_name }} <br><span class="text-muted"><Small>{{inspection.batch.customer.address}}</Small></span>

                </p>

                <p>

                    <strong>Inspector</strong><br>

                    {{ inspection.inspector }}

                </p>

                <p>

                    <strong>Date</strong><br>

                    {{ inspection.inspection_date }}

                </p>

                <p>

                    <strong>Status</strong><br>

                    {% if inspection.overall_result=="Pass" %}

                        <span class="badge bg-success">

                            PASS

                        </span>

                    {% elif inspection.overall_result=="Fail" %}

                        <span class="badge bg-danger">

                            FAIL

                        </span>

                    {% else %}

                        <span class="badge bg-warning text-dark">

                            PENDING

                        </span>

                    {% endif %}

                </p>

                <p>

                    <strong>Remarks</strong><br>

                    {{ inspection.remarks or "-" }}

                </p>

            </div>

        </div>

    </div>

    <div class="col-lg-8">

        <div class="card shadow-sm border-0">

            <div class="card-header d-flex justify-content-between align-items-center">

                <span class="fw-bold">

                    Quality Metrics

                </span>

                <a href="{{ url_for('main.new_quality_metric', inspection_id=inspection.id) }}"
                    class="btn btn-primary btn-sm">
                    <i class="bi bi-plus-circle"></i>
                    Add Metric
                </a>

            </div>

            <div class="table-responsive">

                <table class="table table-hover align-middle mb-0">

                    <thead class="table">

                    <tr>

                        <th>Metric</th>

                        <th>Measured</th>

                        <th>Requirement</th>

                        <th>Result</th>
                        
                        <th>Action</th>

                    </tr>

                    </thead>

                    <tbody>

                    {% for metric in inspection.quality_metrics %}

                    <tr>

                        <td>

                            {{ metric.specification.metric_name }}

                        </td>

                        <td>

                            {{ metric.measured_value }}

                            {% if metric.specification.unit %}

                                {{ metric.specification.unit }}

                            {% endif %}

                        </td>

                        <td>

                            {% if metric.specification.requirement %}

                                {{ metric.specification.requirement }}

                            {% elif metric.specification.validation_type == "any" %}

                                Accept Any Value

                            {% elif metric.specification.validation_type == "minimum" %}

                                {{ metric.specification.minimum_value }} (Min)

                            {% elif metric.specification.validation_type == "maximum" %}

                                {{ metric.specification.maximum_value }} (Max)

                            {% elif metric.specification.validation_type == "range" %}

                                {{ metric.specification.minimum_value }}
                                -
                                {{ metric.specification.maximum_value }}

                            {% elif metric.specification.validation_type == "text" %}

                                {{ metric.specification.expected_result }}

                            {% else %}

                                -

                            {% endif %}

                        </td>

                        <td>

                            {% if metric.result == "Pass" %}

                                <span class="badge bg-success">

                                    PASS

                                </span>

                            {% elif metric.result == "Fail" %}

                                <span class="badge bg-danger">

                                    FAIL

                                </span>

                            {% else %}

                                <span class="badge bg-warning text-dark">

                                    PENDING

                                </span>

                            {% endif %}

                        </td>
                        <td>

                            {% set deviation = metric.deviations|first %}

                            {% if deviation %}

                            <a href="{{ url_for('main.view_deviation',
                                                deviation_id=deviation.id) }}"
                            class="btn btn-danger btn-sm">

                            <i class="bi bi-exclamation-triangle"></i>

                                View Deviation

                            </a>

                            {% else %}

                            —

                            {% endif %}
                        </td>

                    </tr>

                    {% else %}

                    <tr>

                        <td colspan="4" class="text-center py-5">

                            No quality metrics recorded.

                        </td>

                    </tr>

                    {% endfor %}

                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>

<audio id="failSound">
    <source src="{{ url_for('static', filename='sounds/fail.mp3') }}" type="audio/mpeg">
</audio>

{% if current_user.failure_sound and session.pop('play_fail_sound', None) %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const sound = document.getElementById("failSound");

    sound.play().catch(function(err) {
        console.log("Sound could not autoplay:", err);
    });
});
</script>
{% endif %}

{% endblock %}
