{% extends "base.html" %}

{% block title %}CAPA Details{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

<div>

<h2 class="fw-bold">

CAPA Details

</h2>

<p class="text-muted">

{{ capa.deviation.deviation_number }}

</p>

</div>



</div>

<div class="card shadow-sm">

<div class="card-body">

<table class="table">

<tr>

<th width="30%">

Deviation

</th>

<td>

{{ capa.deviation.deviation_number }}

</td>

</tr>

<tr>

<th>

Inspection

</th>

<td>

{{ capa.deviation.inspection.inspection_number }}

</td>

</tr>

<tr>

<th>

Batch

</th>

<td>

{{ capa.deviation.inspection.batch.batch_number }}

</td>

</tr>

<tr>

<th>

Cable Name

</th>

<td class="text-wrap" style="max-width:20px; white-space:normal;">


{{ capa.deviation.inspection.batch.cable_type.pair_count }}
×
{{ capa.deviation.inspection.batch.cable_type.conductor_size }}
-
<small class="text-muted">{{capa.deviation.inspection.batch.cable_type.name }}</small>


</td>

</tr>


<tr>

<th>
Voltage Rating

</th>

<td>
    {{ capa.deviation.inspection.batch.cable_type.voltage_rating}}
</td>

</tr>


<tr>

<th>
Production Line/Supervisor

</th>

<td>
    {{capa.deviation.inspection.batch.production_line.line_name}}-{{ capa.deviation.inspection.batch.production_line.supervisor}}
</td>

</tr>

<tr>

<th>

Customer

</th>

<td>
    {{ capa.deviation.inspection.batch.customer.company_name }}<br>
    <small class="text-muted">
        {{ capa.deviation.inspection.batch.customer.address }}
    </small>
</td>

</tr>

<tr>

<th>

Description

</th>

<td>

{{ capa.deviation.description }} Measured or seen as 
' {{ capa.deviation.quality_metric.measured_value }}
        {% if capa.deviation.quality_metric.specification.unit %}
            {{ capa.deviation.quality_metric.specification.unit }}
        {% endif %}'. 
         Where the requirement is 
        
        '{% if capa.deviation.quality_metric.specification.requirement %}

            {{ capa.deviation.quality_metric.specification.requirement }}

        {% elif capa.deviation.quality_metric.specification.validation_type == "any" %}

            Accept Any Value

        {% elif capa.deviation.quality_metric.specification.validation_type == "minimum" %}

            {{ capa.deviation.quality_metric.specification.minimum_value }} (Min)

        {% elif capa.deviation.quality_metric.specification.validation_type == "maximum" %}

            {{ capa.deviation.quality_metric.specification.maximum_value }} (Max)

        {% elif capa.deviation.quality_metric.specification.validation_type == "range" %}

            {{ capa.eviation.quality_metric.specification.minimum_value }}
            -
            {{ capa.deviation.quality_metric.specification.maximum_value }}

        {% elif capa.deviation.quality_metric.specification.validation_type == "text" %}

            {{ capa.deviation.quality_metric.specification.expected_result }}

        {% else %}

            -

        {% endif %}',
        
         which triggered a non-conformance block.

</td>
 
</tr>

<tr>

<th>

Root Cause by Inspector

</th>

<td>

{{ capa.deviation.root_cause or "-" }}

</td>
 
</tr>

<tr>

<th>

Assigned To

</th>

<td>

{{ capa.assigned_to }}

</td>

</tr>

<tr>

<th>

Due Date

</th>

<td>

{% if capa.display_status == "Overdue" %}

<span class="text-danger fw-bold">

{{ capa.due_date }}

</span>

{% else %}

{{ capa.due_date }}

{% endif %}

</td>

</tr>

<tr>

<th>

Completion Date

</th>

<td>

{{ capa.completion_date or "-" }}

</td>

</tr>

<tr>

<th>

Status

</th>

<td>

{% if capa.display_status == "Closed" %}

<span class="badge bg-success">

Closed

</span>

{% elif capa.display_status == "Overdue" %}

<span class="badge bg-danger">

Overdue

({{ capa.days_overdue }} day{% if capa.days_overdue != 1 %}s{% endif %})

</span>

{% elif capa.display_status == "Completed" %}

<span class="badge bg-primary">

Completed

</span>

{% elif capa.display_status == "In Progress" %}

<span class="badge bg-warning text-dark">

In Progress

</span>

{% else %}

<span class="badge bg-secondary">

Open

</span>

{% endif %}

</td>

</tr>

<tr>

<th>

Effectiveness

</th>

<td>

{{ capa.effectiveness }}

</td>

</tr>

<tr>

<th>

Corrective Action

</th>

<td>

{{ capa.corrective_action }}

</td>

</tr>

<tr>

<th>

Preventive Action

</th>

<td>

{{ capa.preventive_action }}

</td>

</tr>

</table>

<div class="mt-3">

<a href="{{ url_for('main.edit_capa', capa_id=capa.id) }}"
class="btn btn-warning">

Edit CAPA

</a>


<a href="{{ url_for('main.capa') }}"
class="btn btn-secondary">



Cancel

</a>

</div>

</div>

</div>

{% endblock %}
